In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("dow_jones_stocks_close_prices_yahoo.xlsx")

In [3]:
df.columns=df.columns.str.strip()

In [4]:
items=pd.read_excel("Classification of the companies stocks.xlsx")

In [5]:
items

,Unnamed: 0,Technology,Health,Finance,Aeronautical and Automotive Industries,Consumer Goods Services,Energy Services,Public Utility Services,Transportation,Real Estate,Communication Services,Materials
0,0,AAPL,UNH,GS,BA,HD,CVX,AEE,ALK,DHI,DIS,FCX
1,1,MSFT,JNJ,JPM,MMM,MCD,DOW,AEP,AAL,BXP,EA,ECL
2,2,IBM,-,-,-,-,-,-,-,-,-,-
3,3,CRM,-,-,-,-,-,-,-,-,-,-
4,4,INTC,-,-,-,-,-,-,-,-,-,-

In [6]:
items_1=items['Technology'][items['Technology'] != '-']

In [7]:
correlation_1=df[items_1].corr()

In [8]:
correlation_1

          AAPL      MSFT       IBM       CRM      INTC
AAPL  1.000000  0.923100  0.495797  0.539058 -0.562774
MSFT  0.923100  1.000000  0.687037  0.690145 -0.442935
IBM   0.495797  0.687037  1.000000  0.396668 -0.317346
CRM   0.539058  0.690145  0.396668  1.000000  0.135146
INTC -0.562774 -0.442935 -0.317346  0.135146  1.000000

In [9]:
items_2=items['Health'][items['Health'] != '-']

In [10]:
correlation_2=df[items_2].corr()

In [11]:
correlation_2

          UNH       JNJ
UNH  1.000000  0.732339
JNJ  0.732339  1.000000

In [12]:
items_3=items['Finance'][items['Finance'] != '-']

In [13]:
correlation_3=df[items_3].corr()

In [14]:
correlation_3

           GS       JPM
GS   1.000000  0.867881
JPM  0.867881  1.000000

In [15]:
items_4=items['Aeronautical and Automotive Industries'][items['Aeronautical and Automotive Industries'] != '-']

In [16]:
correlation_4=df[items_4].corr()

In [17]:
correlation_4

           BA       MMM
BA   1.000000  0.330451
MMM  0.330451  1.000000

In [18]:
items_5=items['Consumer Goods Services'][items['Consumer Goods Services'] != '-']

In [19]:
correlation_5=df[items_5].corr()

In [20]:
correlation_5

           HD       MCD
HD   1.000000  0.733638
MCD  0.733638  1.000000

In [21]:
items_6=items['Energy Services'][items['Energy Services'] != '-']

In [22]:
correlation_6=df[items_6].corr()

In [23]:
correlation_6

         CVX      DOW
CVX  1.00000  0.30057
DOW  0.30057  1.00000

In [24]:
items_7=items['Public Utility Services'][items['Public Utility Services'] != '-']

In [25]:
correlation_7=df[items_7].corr()

In [26]:
correlation_7

          AEE       AEP
AEE  1.000000  0.677918
AEP  0.677918  1.000000

In [27]:
items_8=items['Transportation'][items['Transportation'] != '-']

In [28]:
correlation_8=df[items_8].corr()

In [29]:
correlation_8

          ALK       AAL
ALK  1.000000  0.895313
AAL  0.895313  1.000000

In [30]:
items_9=items['Real Estate'][items['Real Estate'] != '-']

In [31]:
correlation_9=df[items_9].corr()

In [32]:
correlation_9

          DHI       BXP
DHI  1.000000 -0.615858
BXP -0.615858  1.000000

In [33]:
items_10=items['Communication Services'][items['Communication Services'] != '-']

In [34]:
correlation_10=df[items_10].corr()

In [35]:
correlation_10

          DIS        EA
DIS  1.000000  0.231438
EA   0.231438  1.000000

In [36]:
items_11=items['Materials'][items['Materials'] != '-']

In [37]:
correlation_11=df[items_11].corr()

In [38]:
correlation_11

          FCX       ECL
FCX  1.000000  0.037911
ECL  0.037911  1.000000

##################################_-----------------------------------####################------------------------########